.section-banner {
  background-color: $primary;
  padding-block: 120px;

  @include responsive(md) {
    padding-block: 60px;
  }

  .container {
    &-banner {
      .subtext {
        &-text {
          @include flex(row, center, space-between);
          width: 100%;

          @include responsive(sm) {
            @include flex(column, flex-start, space-between);
            gap: 32px;
          }

          .btn-link {
            img {
              max-width: 124px;

              @include responsive(md) {
                max-width: 72px;
              }
            }
          }
        }
      }
    }
  }
}